@page "/menu"
@inject NavigationManager UriHelper
@inject HttpClient Http
@using BBC.Shared

<body class = "body-index" >


        <div class = "header">
        
            @*<p class="h1class">BBC</p>*@
            
        </div>
        <div class="menu-preview-test">
        
          <button class="menu-button" data-toggle="collapse"  @onclick="@(() => { IsCocktailVisible = !IsCocktailVisible; })">
             <div style="display: flex">
                            <p class="menu-text-cocktails">Cocktails</p>
                            <img class = "dropdown-arrow" src="images/dropdownarrow.png" />
                    </div>
          </button>
        

            <div class="collapse @(IsCocktailVisible ? "show" : "")">
              <div class="">
               @foreach(var drink in cocktailDrinkList)
                                {
                                    <div class="drink-container " >

                                            <a class = "menu-button" href="/confirm/cocktail/@drink">
                                                <div class = "drink-name">
                                                    <p class="drink-text">@drink</p>
                                                </div>
                                                <img class="drink-picture" src="images/logo.png">
                                            </a>

                                    </div>
                                }
              </div>
            </div>
    </div>


    <div class="menu-preview-test">
        
          <button class="menu-button" data-toggle="collapse"  @onclick="@(() => { IsShotsVisible = !IsShotsVisible; })">
             <div style="display: flex">
                            <p class="menu-text-shots">Shots</p>
                            <img class = "dropdown-arrow" src="images/dropdownarrow.png" />
                    </div>
          </button>
        

            <div class="collapse @(IsShotsVisible ? "show" : "")">
              <div class="">
               @foreach(var drink in shotDrinkLink)
                                {
                                    <div class="drink-container " >

                                            <a class = "menu-button" href="/confirm/shot/@drink">
                                                <div class = "drink-name">
                                                    <p class="drink-text">@drink</p>
                                                </div>
                                                <img class="drink-picture" src="images/shot.png">
                                            </a>

                                    </div>
                                }
              </div>
            </div>
    </div>


        <div class="menu-preview-test">
        
          <button class="menu-button" data-toggle="collapse"  @onclick="@(() => { IsFullMenuVisible = !IsFullMenuVisible; })">
             <div style="display: flex">
                            <p class="menu-text-fullmenu">Full Menu</p>
                            <img class = "dropdown-arrow" src="images/dropdownarrow.png" />
                    </div>
          </button>
        

            <div class="collapse @(IsFullMenuVisible ? "show" : "")">
              <div class="">
                   @foreach(var drink in totalDrinkList)
                    {
                        <div class="drink-container " >

                                @if(cocktailDrinkList.Contains(@drink)){
                                <a class = "menu-button" href="/confirm/cocktail/@drink">
                                    <div class = "drink-name">
                                        <p class="drink-text">@drink</p>
                                    </div>
                           
                                    <img class="drink-picture" src="images/logo.png">
                                    </a>
                                }
                                else{
                                        <a class = "menu-button" href="/confirm/shot/@drink">
                                        <div class = "drink-name">
                                            <p class="drink-text">@drink</p>
                                        </div>
                                    <img class="drink-picture" src="images/shot.png">
                                        </a>
                                }

                        </div>
                    }
            </div>
            </div>
    </div>


      
 
          <div class="menu-link">
            <NavLink class="nav-link" href="New-Drink">
              
                    <p class="menu-text">New Drink</p>
                
               
            </NavLink>
        </div>

       



</body>


@code{


    public int cocktailCount { get; set; } = 0;

    protected bool IsCocktailVisible { get; set; }

    protected bool IsShotsVisible { get; set; }

    protected bool IsFullMenuVisible { get; set; }
    protected bool IsVisible { get; set; }







    //These, will eventually contact the backend and get what we are currently serving.
    List<string> totalDrinkList { get; set; } = new List<string>();
    List<string> cocktailDrinkList { get; set; } = new List<string>();
    List<string> shotDrinkLink { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        //cocktailDrinkList = await Http.GetFromJsonAsync<List<string>>("Drinks", new System.Text.Json.JsonSerializerOptions(){ "cocktails" });


    }


}